@model  VkApp.Web.Models.ApplicationsView
@{
    ViewBag.Title = "Applications";
}

<div class="panel">
    @Html.ActionLink("Admin", "Index", "Admin") > <label class="title">Applications</label>

    @if (!string.IsNullOrEmpty(@Model.Error))
    {
        <div class="row">
            <div class="summary fail visible">Error: @Model.Error</div>
        </div>
    }

    <div class="row">
        <table class="grid">
            <tr class="header">
                <td style="width: 100px">Id</td>
                <td style="width: 200px">Name</td>
                <td style="width: 100px">Actions</td>
            </tr>

            @foreach (var application in Model.Applications)
            {
                <tr>
                    <td><b>@application.Id</b></td>
                    <td><b>@application.Name</b></td>
                    <td>@Html.ActionLink("Remove", "RemoveApplication", new { id = application.Id })</td>
                </tr>
            }
        </table>
    </div>

    <br />
    <label class="title">Add application:</label>

    <div class="row">
        @using (Html.BeginForm("AddApplication", "Admin", FormMethod.Post))
        {
            <label>Application Id: </label>
            @Html.TextBoxFor(m => m.NewApplication.Id)
            <br />
            <label>Name: </label>
            @Html.TextBoxFor(m => m.NewApplication.Name)
            <br />

            <input type="submit" value="Add">
        }
    </div>
</div>






