@model  VkApp.Web.Models.ApplicationsView
@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>

<div>Error: @Model.Error</div>

@foreach (var application in Model.Applications)
{
    <div>
        Id='<b>@application.Id</b>'
        Name='<b>@application.Name</b>'
        @Html.ActionLink("Remove", "RemoveApplication", new { id = application.Id })
    </div>
}

@using (Html.BeginForm("AddApplication", "Admin", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.NewApplication.Id)  
    <label>Application Id</label>
    <br />
    <label>Name</label>
    @Html.TextBoxFor(m => m.NewApplication.Name) 
    <br />

    <input type="submit" value="Add">
}