@model  VkApp.Web.Models.AppView
@{
    ViewBag.Title = "VkApp";
}

<div id="vkApp">
    @Html.Partial("~/app/view/authenticationPanel/authenticationPanel.cshtml", Model)
    @Html.Partial("~/app/view/initializationPanel/initializationPanel.cshtml")
    @Html.Partial("~/app/view/initializationProgressPanel/initializationProgressPanel.cshtml")
    @Html.Partial("~/app/view/appPanel/appPanel.cshtml")
</div>

<div id="addByUrlDialog" style="display:none">
    <label>Вставьте URL:</label>
    <input type="text" id="photoUrlInput" class="url-input" />
</div>

<div id="captchaDialog" style="display:none">
    <img class="captcha-img"></img>
    <input type="text" id="captchaInput" />
</div>

@section scripts {
    <script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>

    <script type="text/javascript">
        function checkExtension() {
            if (!window.localStorage["sndallExtension"]) {
                window.location.href = "@Url.Action("InstallExtension", "Training")";
                return;
            }

            window.sndallExtension = JSON.parse(window.localStorage["sndallExtension"]);

            if (window.sndallExtension.version<1) {
                window.location.href = "@Url.Action("InstallExtension", "Training")";
                return;
            }

            setTimeout(function() {
                delete window.localStorage["sndallExtension"];
            }, 1000);
        }

        $(function () {
            checkExtension();

            new VkApp(@Model.ApplicationId);
        });
    </script>
}

